@import "tailwindcss";

:root {
  /* Fixed Colors */
  --mainFixed: #fa2c23;
  --bgFixed: #1f0604;

  /* White Variants */
  --white: #fff7f0;
  --white-70a: #fff7f0b3;
  --white-30a: #fff7f04d;
  --white-10a: #fff7f01a;
  --white-6a: #fff7f00f;

  /* Other Colors */
  --border2: #4c3633;
  --warning: #ff861f;
  --warning20a: #ff861f33;

  color: var(--white);
  font-family: "Alexandria", sans-serif;
}

/* Light Mode */
:root.lightMode {
  --mainDynamic: #fa2c23;

  --bgMain: #fff7f0;
  --bgMain-transparent: rgba(255, 247, 240, 0);
  --bgMain0a: #1f0604;
  --bgSecond: #feaea4;
  --bgThird: #ffffff;

  --textMain: #1f0604;
  --textMain10a: #1f0604;
  --textSub: #986872;

  --border1: #fcd0cb;
}

/* Dark Mode */
:root.darkMode {
  --mainDynamic: #1f0604;

  --bgMain: #1f0604;
  --bgMain-transparent: rgba(31, 6, 4, 0);
  --bgMain0a: #fff7f0;
  --bgSecond: #2e1614;
  --bgThird: #1f0604;

  --textMain: #fff7f0;
  --textMain10a: #fff7f0;
  --textSub: #986872;

  --border1: #3d2623;
}

/* Custom Utilities */
.hover-nav:hover {
  background-color: var(--white-10a);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

